.medium-4.small-12.columns
    label Search
        form(ng-submit='search()')
            input(type='text', ng-model='searchText', placeholder='Search Pokédex' name='searchText')
            .button-group
                input.button(type='submit', value='Submit')
                button.button(ng-click='random()') Random