.small-3.columns
    .row
        h3 Team
    .callout(ng-repeat='(id, pk) in team')
        h4 {{pk.name}}
        .row
            img(ng-src='{{pk.sprite}}')
            button.button(ng-click='removeFromTeam(pk)') Remove